.header {
  width: calc(100vw - 18rem);
}
.header-collapsed {
  left: 5.5rem;
  width: calc(100vw - 5.5rem);
}
.header,
.header-collapsed {
  background-color: #ffffff;
  box-shadow: 0px 0px 7px grey;
}
