.badge[data-badge]:after {
  content: attr(data-badge);
  background-color: #fb404b;
  text-align: center;
  border-radius: 10px;
  min-width: 25px;
  padding: 0 5px;
  height: 25px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
}
