<div class="flex flex-row items-center">
  <app-search-box></app-search-box>
  <div appClickOutside (clickedOutside)="closeNotificationsMenu()">
    <button
      (click)="toggleNotificationsMenu()"
      class="notifications relative text-black rounded-lg mx-2"
    >
      <i class="pe-7s-bell icon-hover"></i>
    </button>
    <app-header-notifications-menu
      [isShowMenu]="isShowNotificationsMenu"
      [menu]="notificationsMenu"
    ></app-header-notifications-menu>
  </div>
  <div appClickOutside (clickedOutside)="closeSystemMenu()">
    <button (click)="toggleSystemMenu()" class="relative text-black rounded-lg mx-2">
      <i class="pe-7s-menu icon-hover"></i>
    </button>
    <app-header-system-menu
      [isShowMenu]="isShowSystemMenu"
      [menu]="systemMenu"
      [secondaryMenu]="logInOutMenu"
    ></app-header-system-menu>
  </div>
</div>
