@import '../../../styles/variables';

.body {
  width: calc(100vw - $sidenav-width);
  left: $sidenav-width;
}
.body-collapsed {
  left: $sidenav-width-collapsed;
  width: calc(100vw - $sidenav-width-collapsed);
}
.body,
.body-collapsed {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .footer {
    margin-top: auto;
  }
}
.main-panel {
  margin: 1rem;
}
