<button
  class="hover:bg-red-300/25 my-1 w-full rounded-md tracking-wide"
  routerLinkActive="bg-red-400"
  [routerLink]="route.routerLink"
  (click)="handleNavClick(route)"
>
  <li [ngClass]="{ 'py-2': isChild }" class="p-4 flex whitespace-nowrap">
    <div (click)="adjustHeaderTitle(route)" class="flex items-center">
      <i class="{{ route.icon }}"></i>
      <a
        class="text-white uppercase no-underline ml-4 text-sm"
        [ngClass]="{
          'text-hide': collapsed,
          'text-visible': !collapsed,
          'pl-4 text-sm': isChild
        }"
        >{{ route.label }}</a
      >
    </div>
    <i
      *ngIf="route.children && !collapsed"
      class="mr-1 ml-auto"
      [ngClass]="submenuExpanded ? 'pe-7s-angle-up' : 'pe-7s-angle-down'"
    ></i>
  </li>
</button>
<div [@slideInOut]="!submenuExpanded ? 'initial' : 'final'">
  <app-menu-btn-link
    *ngFor="let subRoute of route.children"
    [route]="subRoute"
    [collapsed]="collapsed"
    [isChild]="true"
  ></app-menu-btn-link>
</div>
