<button
  class="hover:bg-red-300/25 my-1 w-full rounded-sm tracking-wide"
  routerLinkActive="bg-red-400"
  (click)="handleNavClick(route)"
>
  <li class="side-nav-item px-4 py-4 flex justify-between">
    <div (click)="adjustHeaderTitle(route)" class="flex">
      <i class="{{ route.icon }}"></i>
      <a *ngIf="!collapsed" class="text-white uppercase no-underline ml-4">{{ route.label }}</a>
    </div>
    <i *ngIf="route.children" class="pe-7s-angle-down mr-1"></i>
  </li>
</button>
<div [@enterAnimation] *ngIf="submenuExpanded">
  <app-sublevel-btn-link
    *ngFor="let subRoute of route.children"
    [route]="subRoute"
  ></app-sublevel-btn-link>
</div>
