<div
  [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
  class="sidenav fixed flex flex-col top-0 h-screen w-72 text-white shadow-lg transition-all ease-in-out"
>
  <div class="profile-container flex justify-around items-center py-4 w-full cursor-pointer">
    <img
      class="rounded-full border-2 border-red-400"
      src="assets/images/profile-pic-50.jpg"
      alt="Profile picture"
    />
    <h3 *ngIf="!collapsed">{{ username }}</h3>
    <i *ngIf="!collapsed" class="pe-7s-angle-down"></i>
  </div>
  <ul class="sidenav-nav my-2 px-4 flex flex-col pt-4 border-t-[1px]">
    <ng-container *ngFor="let route of routes"> </ng-container>
  </ul>
  <div class="absolute flex bottom-10 self-center">
    <button>Go Pro</button>
    <!-- <app-btn-nav-link [collapsed]="collapsed" [itemData]="nav"></app-btn-nav-link> -->
    <h2 class="text-center">{{ time | async | date: 'HH:mm:ss' }}</h2>
  </div>
</div>
