.sidenav {
  // background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(to bottom, #fb404b 0, rgba(187, 5, 2, 0.7) 100%);
  .profile-container {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-left: auto;
    }
  }
}
.sidenav-nav {
  display: flex;
  flex-direction: column;
  .sidenav-nav-item {
    list-style-type: none;
    .sidenav-nav-link {
      color: rgb(255, 255, 255, 0.8);
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
