.sidenav {
  // background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(to bottom, #fb404b 0, rgba(187, 5, 2, 0.9) 100%);
  .profile-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.sidenav-collapsed {
  width: 5.5rem;
}
.username,
.username-hidden,
.label,
.label-hide {
  transition: all ease-in 200ms;
}
.username,
.label {
  opacity: 1;
}
.username-hidden,
.label-hide {
  opacity: 0;
  color: transparent;
  // display: none;
}
