<div class="panel">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Dashboard Home Page</div>
      <div class="card-right-info">Extra info here</div>
    </div>
    <div class="divider"></div>
    <div class="card-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis itaque distinctio nulla at,
      enimm quos. Maxime natus perspiciatis totam iste quidem deleniti et laborum placeat magni, eum
      ducimus alias esse quas saepe quo fugiatloremque numquam minus minima voluptas, error,
      suscipit velit totam dolores quo aliquid sapiente reiciendis pariatur accusamus. Aut excepturi
      vitae at molestiae suscipit. Odit aliquid est commodi explicabo. Dicta obcaecati sint illo
      voluptas molestiae consequuntur necessitatibus quasi aliqrit eius quae perspiciatis optio
      nesciunt officiis suscipit nulla ab dolore, labore nostrum eveniet aperiam aliquid? Magnam
      sapiente sunt, nisi earum, vero tenetur nobis iusto dolores, expedita magni ab doloremque.
      Pariatur dolorum minima sed consectetur. Expedita qui eos harum quo quaerat quos libero,
      officiis animi officia debitis recusandae repellat voluptatum, pariatur obcaecati quas. Est
      ipsam alias recusandae et ex cupiditate. Provident mollitia, asperiores assumenda dicta
      excepturi impedit aspernatur, quas magni tempore
    </div>
    <div class="card-footer">Footer with maybe some icons</div>
  </div>
  <div class="card profile-card">
    <div class="card-image">
      <img
        class="rounded-full border-2 ml-2"
        src="assets/images/profile-pic-120.jpg"
        alt="Profile picture"
      />
      <h2 class="uppercase mt-4">Joey Vico</h2>
    </div>
    <div class="profile-card-content">the content</div>
  </div>
  <!-- <app-load-spinner></app-load-spinner> -->
</div>
