<div class="relative top-0 left-72 w-[calc(100vw-18rem)] bg-yellow-300 text-center">
  <p>admin-home works!</p>
  <!-- <p class="p-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis itaque distinctio nulla at,
    enim non molestias laudantium est deleniti minus iusto rem voluptatum mollitia voluptas harum
    inventore consequatur maiores exercitationem! Non repudiandae rem voluptatem nulla veritatis
    accusantium eaque minus labore ea, iure quisquam quidem voluptatum ratione hic maxime ad dicta
    recusandae numquam. Ea voluptatem obcaecati, qui similique inventore aperiam quos. Maxime natus
    perspiciatis totam iste quidem deleniti et laborum placeat magni, eum ducimus alias esse quas
    saepe quo fugiat rem dolores eos voluptatem sed qui sapiente ipsa asperiores! Aspernatur,
    voluptas. Ipsa, ab sequi! Beatae, consequuntur. Repellat reprehenderit minima qui provident
    illum! Asperiores, possimus quisquam quis sequi ratione quidem maiores cumque magnam temporibus
    vero harum veniam, neque, facilis et. Itaque, pariatur. Nesciunt nostrum cum eligendi omnis
    fugit explicabo praesentium doloremque numquam minus minima voluptas, error, suscipit velit
    totam dolores quo aliquid sapiente reiciendis pariatur accusamus. Aut excepturi vitae at
    molestiae suscipit. Odit aliquid est commodi explicabo. Dicta obcaecati sint illo voluptas
    molestiae consequuntur necessitatibus quasi aliquam! Minus, soluta commodi. Possimus alias optio
    explicabo impedit soluta pariatur. Ex nesciunt eum harum excepturi! Nulla atque consectetur
    saepe, quaerat culpa at esse dolore porro distinctio magnam, temporibus, facere inventore fugiat
    labore obcaecati reprehenderit illo numquam perferendis odit. Cupiditate eos adipisci ab dolor
    autem velit. Reprehenderit eius quae perspiciatis optio nesciunt officiis suscipit nulla ab
    dolore, labore nostrum eveniet aperiam aliquid? Magnam sapiente sunt, nisi earum, vero tenetur
    nobis iusto dolores, expedita magni ab doloremque. Pariatur dolorum minima sed consectetur.
    Expedita qui eos harum quo quaerat quos libero, officiis animi officia debitis recusandae
    repellat voluptatum, pariatur obcaecati quas. Est ipsam alias recusandae et ex cupiditate.
    Provident mollitia, asperiores assumenda dicta excepturi impedit aspernatur, quas magni tempore
    laudantium deleniti exercitationem totam amet iusto, earum quisquam perspiciatis corrupti dolor
    maiores ipsa temporibus. Adipisci dolorum tempora nemo eaque! Laudantium corporis tempore eius
    beatae omnis quo repellendus reiciendis, ipsam alias eum in, non nostrum architecto ad
    repudiandae quod aspernatur quisquam dolore, accusantium odit! Veniam, id? Sunt accusamus
    repellendus possimus. Tenetur dignissimos sed aliquam sit, assumenda quisquam velit ullam? Quia,
    nihil, illo voluptas saepe reiciendis pariatur delectus odio dolore beatae tempore veritatis
    eveniet illum numquam unde tenetur, quos voluptate aliquid? Dolorum, veritatis ducimus! Quisquam
    ex ea molestias labore. Eligendi, quisquam non. Eum assumenda, dicta veniam debitis officia
    culpa nam placeat et, error, quae maxime expedita saepe similique nisi deleniti ullam! Dolore
    aperiam vitae autem, ducimus, cumque ratione numquam saepe iste vel ad pariatur amet est! Error
    architecto odit, blanditiis delectus quos voluptate cumque, accusantium ad animi laudantium
    soluta, atque neque. Excepturi dolorum, expedita ratione eius recusandae facilis in eveniet
    minus cumque? Debitis quibusdam saepe consequatur minima non, inventore similique blanditiis
    doloremque recusandae assumenda, incidunt velit odio doloribus libero temporibus nihil! Quisquam
    voluptates vero mollitia modi aliquam alias praesentium nemo placeat sequi excepturi
    necessitatibus odit exercitationem, repellat ut dolorum ullam impedit! Unde error natus quod
    dolores eveniet praesentium totam architecto beatae? Nihil, quod possimus adipisci quaerat
    reprehenderit dolore veniam ea eius! Optio placeat, tempora adipisci atque dolor magni, ratione
    nisi similique dicta incidunt labore temporibus quae esse itaque? Enim, pariatur facilis? Labore
    voluptatum libero officiis illo harum doloribus ut delectus sunt quisquam perferendis dolore
    autem at modi, porro molestiae a necessitatibus. Non omnis nesciunt porro necessitatibus labore
    dicta dolores corrupti aperiam. Ratione, dolor a. Corrupti, nisi, facilis odio dolorum provident
    reprehenderit repellat ipsam alias consectetur ut dicta aut! Maxime, dolorem minus dicta dolores
    nisi debitis consequuntur ullam sed, architecto libero amet. Necessitatibus at quia accusamus
    sapiente, ipsum excepturi eveniet in, quis harum labore saepe suscipit atque molestias quod,
    obcaecati illum eius laboriosam quae. Impedit, alias! Corporis eaque voluptates repellendus
    asperiores dolor.
  </p> -->
  <!-- <app-load-spinner></app-load-spinner> -->
</div>
