.search-box {
  top: -0.2rem;
  width: 350px;
  height: 40px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  input {
    position: absolute;
    left: 1rem;
    width: 80%;
    height: 90%;
    border: none;
    appearance: none;
    outline: none;
    color: #3e3e3e;
  }

  .search-icon {
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 0.4rem;
  }
}
