<div class="relative h-16 p-4 flex transition-all ease-in-out duration-300 justify-between">
  <ul class="flex">
    <li class="mx-4 hover:text-gray-400"><a href="#">Company</a></li>
    <li class="mx-4 hover:text-gray-400"><a href="#">About</a></li>
    <li class="mx-4 hover:text-gray-400"><a href="#">Contact</a></li>
  </ul>
  <p class="copyright pull-right mr-8">
    &copy; {{ date | date: 'yyyy' }}
    <a class="text-blue-400" href="https://valkyria-remix.vercel.app/">Joey Vico</a>
  </p>
</div>
