.admin-home-panel {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}
@media screen and (max-width: 1200px) {
  .admin-home-panel {
    grid-template-columns: 1fr;
  }
}
