<button
  class="hover:bg-red-300/25 my-1 w-full rounded-sm tracking-wide"
  routerLinkActive="bg-red-400"
  [routerLink]="route.routerLink"
  (click)="handleNavClick(route)"
>
  <li class="side-nav-item px-4 py-2 flex whitespace-nowrap">
    <div class="flex items-center">
      <i class="text-sm w-7">{{ route.icon }}</i>
      <a
        class="text-white uppercase no-underline text-right pl-8 text-sm"
        [ngClass]="!collapsed ? 'link' : 'link-hide'"
        >{{ route.label }}</a
      >
    </div>
  </li>
</button>
