@use 'global';

.body {
  width: calc(100vw - global.$sidenav-width);
  left: global.$sidenav-width;
}
.body-collapsed {
  width: calc(100vw - global.$sidenav-width-collapsed);
  left: global.$sidenav-width-collapsed;
}
.body,
.body-collapsed {
  min-height: 100vh;
  .footer,
  .header {
    background-color: white;
  }
  .footer {
    box-shadow: 0px 0px -7px grey;
    margin-top: auto;
  }
  .header {
    box-shadow: 0px 0px 1px grey;
  }
}
.main-panel {
  margin: 1rem;
}
