/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/css/pe-icon-7-stroke.css';

// @import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, SegoeUI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f8f4f4;
  color: #333;
}
i {
  font-size: 1.5rem;
  &.icon-large {
    font-size: 2rem;
  }
  &.icon-hover:hover {
    font-weight: 500;
    transform: scale(1.1);
  }
}
